<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分析报告</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/light7.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <header class="bar bar-nav">
        <a href="../my/index.do" class="icon icon-left pull-left"></a>
        <h1 class="title">导出分析报告</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title label">开始时间:</div>
                            <div class="item-input">
                                <input type="text" class="start_date" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title label">截止时间:</div>
                            <div class="item-input">
                                <input type="text" class="end_date" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-100"><a href="#" class="button button-big button-fill button-success">导出</a></div>
            </div>
        </div>
    </div>



    <!-- 图形区域 -->
    <div class="content export_report analysis_report">
        <div class="day_chart chart"></div>
        <div class="day_time_chart chart"></div>
        <div class="correct_rate_chart chart"></div>

        <div class="day_chart chart"></div>
        <div class="day_time_chart chart"></div>
        <div class="correct_rate_chart chart"></div>
    </div>
</div>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/light7.js"></script>
<script src="/js/light7-swiper.js"></script>
<script src="/js/echarts.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/common.js"></script>

<script>
    //日历控件
    $(".start_date,.end_date").calendar({
        dateFormat:'yyyy-mm-dd'
    });

    $(".button-success").click(function () {
        var start_date = $(".start_date").val();
        var end_date = $(".end_date").val();
        if(!start_date || !end_date){
            Util.alert ('请选择起始截止时间');
        }
        if(new Date(start_date) >= new Date(end_date)){
            Util.alert ('时间格式错误');
        }

        //设置图形画布尺寸
        $('.chart').height(document.body.clientWidth * 0.6).width(document.body.clientWidth);

        new AnalysisReport(start_date,end_date).export();
    });

    //设置字体
    pdfMake.fonts = {
        Roboto: {
            normal: 'Roboto-Regular.ttf',
            bold: 'Roboto-Medium.ttf',
            italics: 'Roboto-Italic.ttf',
            bolditalics: 'Roboto-Italic.ttf'
        },
        微软雅黑:{
            normal:'msyh.ttf',
            bold: 'msyh.ttf',
            italics: 'msyh.ttf',
            bolditalics: 'msyh.ttf',
        }
    };

    /**
     * 导出学情报告
     * */
    var AnalysisReport = function(start_date,end_date){
        this.startDate = start_date;
        this.endDate = end_date;
        //PDF内容
        this.docDefinition = {
            defaultStyle: {
                font: '微软雅黑',
            },
            styles: {
                firstTitle: {
                    alignment: 'center',
                    fontSize: 18,
                    margin: [ 5, 10],
                    bold: true
                },
                secondTitle: {
                    alignment: 'center',
                    fontSize: 17,
                    margin: [ 5, 10],
                    bold: true
                },
                thirdTitle: {
                    alignment: 'center',
                    fontSize: 13,
                    margin: [ 5, 10],
                    bold: false
                },
                fourthTitle: {
                    alignment: 'left',
                    fontSize: 12,
                    margin: [ 5, 10],
                    bold: false
                },
                content: {
                    alignment: 'left',
                    fontSize: 12,
                    margin: [ 5, 3.5],
                    bold: false
                },
            },
            footer:function(currentPage, pageCount) {
                return { text:currentPage.toString() + ' of ' + pageCount, alignment:'center'}
            },
            content:[]
        };
    }

    /**
     * 设置头部
     * */
    AnalysisReport.prototype.getTopTitle = function () {
        var startDateArray = this.startDate.split('-');
        var endDateArray = this.endDate.split('-');
        return '我的学情（@startDate - @endDate）'
            .replace('@startDate',startDateArray[0]+'年'+startDateArray[1] +'月'+ startDateArray[2]+'日')
            .replace('@endDate',endDateArray[0]+'年'+endDateArray[1] +'月'+ endDateArray[2]+'日');
    }
     /**
     * 导出PDF报告
     */
    AnalysisReport.prototype.export = function () {
        var _this = this;
        _this.docDefinition.content.push({
            text: _this.getTopTitle(),
            style:'firstTitle',
        });
        _this.docDefinition.content.push({
            text: '一、总体学情概况',
            style:'secondTitle',
        });

        $.showPreloader();
        Util.ajaxNormalPost('loadReportData.do',{startDate:this.startDate,endDate:this.endDate},function (data) {
            if(data){
                _this.overview(data);
                _this.chartAnalysis(data.chartData,7);
                _this.docDefinition.content.push({
                    text: '二、总体学情分析及建议。',
                    style:'secondTitle',
                });
                _this.analysisSuggestion(data);
                _this.docDefinition.content.push({
                    text: '三、按分科学情分析',
                    style:'secondTitle',
                    margin: [ 5,50,5,5],
                });
                $.each(data.subInfo,function (index,xnData) {
                    _this.xnOverview(xnData);

                    $.each(xnData['zsdInfo'],function (index,zsdData) {
                        _this.zsdAnalysis(zsdData,index + 1);
                    })
                })
                _this.docDefinition.content.push({
                    text:'免责声明：',
                    style:'content',
                    margin: [5,20,5,5],
                    bold: true
                });
                _this.docDefinition.content.push({
                    text:'以上的学情分析报告是按照学生的做题情况，通过具体的算法分析得出的结论，在做题过程中不但受学习能力的影响，而且情绪、误操作等情况都可以影响到学生的做题情况。以上报告只代表我们的观点。学生、家长、教师可以根据以上情况作参考，具体情况具体分析。给学生的学习提供更好的件建议。',
                    style:'content',
                });

                $.hidePreloader();

                pdfMake.createPdf(_this.docDefinition).download('学情报告.pdf');
            }
        });
    }
    /**
     * 总体学情概况
     */
    AnalysisReport.prototype.overview = function (data) {
        this.docDefinition.content.push({
            ol:[
                {
                    text: '你本次共做：'+ data.answerSize +' 题。',
                    style:'content',
                },
                {
                    text:'本次做题平均难度：'+ data.avgDifficult +'。',
                    style:'content',
                },
                {
                    text:'共做题共用时：'+ data.totalTime +' 分钟。',
                    style:'content',
                },
                {
                    text:'本次平均每天用时：'+ data.avgTimePerDay +' 分钟。',
                    style:'content',
                },
                {
                    text:'本次平均每题用时：'+ data.avgTime +' 分钟。',
                    style:'content',
                },
                {
                    text:'本次做题平均正确率：'+ data.correctRate +'%。',
                    style:'content',
                },
            ]
        });
    }
    /**
     * 总体学情概况
     */
    AnalysisReport.prototype.chartAnalysis = function (chartData,startIndex,needBracket) {
       var instance = echarts.init($(".day_chart")[0]);
        instance.setOption({
            animation:false,
            title:{
                text:'做题数量',
                left:'center',
                textStyle:{
                    fontSize:10
                }
            },
            grid:{
                top:30
            },
            xAxis: {
                type: 'category',
                data:chartData.map(function (t) {
                    return t[0]
                })
            },
            yAxis: {
                type: 'value'
            },
            series: {
                data:chartData.map(function (t) {
                    return t[1]
                }),
                name:'做题数量',
                type: 'line'
            }
        });
        var prefix = needBracket? '(' + startIndex++ +')':startIndex++ + '.';
        this.docDefinition.content.push({
            text:prefix + ' 每日做题数量统计图。',
            style:'content',
        });
        this.docDefinition.content.push({
            width: 400,
            //Echart导出图片URL
            image: instance.getDataURL({
                pixelRatio: 2,
                backgroundColor: '#fff'
            }),
        });
        var timeInstance = echarts.init($(".day_time_chart")[0]);
        timeInstance.setOption({
            animation:false,
            title:{
                text:'每日用时(分钟)',
                left:'center',
                textStyle:{
                    fontSize:10
                }
            },
            grid:{
                top:30
            },
            xAxis: {
                type: 'category',
                data:chartData.map(function (t) {
                    return t[0]
                })
            },
            yAxis: {
                type: 'value',
                min:'dataMin',
                max:'dataMax',
            },
            series: [{
                type: 'line',
                name:'每日用时(分钟)',
                data:chartData.map(function (t) {
                    return t[2]
                })
            }]
        });
        prefix = needBracket? '(' + startIndex++ +')':startIndex++ + '.';
        this.docDefinition.content.push({
            text:prefix + ' 每日用时统计图。',
            style:'content',
        });
        this.docDefinition.content.push({
            width: 400,
            //Echart导出图片URL
            image: timeInstance.getDataURL({
                pixelRatio: 2,
                backgroundColor: '#fff'
            }),
        });
        var correctRateInstance = echarts.init($(".correct_rate_chart")[0]);
        correctRateInstance.setOption({
            animation:false,
            title:{
                text:'正确率%',
                left:'center',
                textStyle:{
                    fontSize:10
                }
            },
            grid:{
                top:30
            },
            xAxis: {
                type: 'category',
                data:chartData.map(function (t) {
                    return t[0]
                })
            },
            yAxis: {
                type: 'value',
                min:0,
                max:100
            },
            series: [{
                type: 'line',
                name:'正确率(%)',
                data:chartData.map(function (t) {
                    return t[3]
                })
            }]
        });
        prefix = needBracket? '(' + startIndex++ +')':startIndex++ + '.';
        this.docDefinition.content.push({
            text:prefix + ' 每日做题正确率统计图。',
            style:'content',
        });
        this.docDefinition.content.push({
            width: 400,
            //Echart导出图片URL
            image: correctRateInstance.getDataURL({
                pixelRatio: 2,
                backgroundColor: '#fff'
            }),
        });
    }
    /**
     * 总体学情概况建议
     */
    AnalysisReport.prototype.analysisSuggestion = function (data) {
        this.docDefinition.content.push({
            ol:[
                {
                    text:data.answerSize < data.allAvgAnswerSize?
                        '你的本次做题数量偏低，建议以后多做些题。':'你本次的做题数量不错，请继续保持。',
                    style:'content',
                },
                {
                    text: data.correctRate < data.allAvgCorrectRate?
                        '你的做题正确率偏低，建议以后做题更细心些。':'你本次的做题正确率不错，请继续保持。',
                    style:'content',
                },
                {
                    text:data.avgDifficult < data.allAvgDifficult?
                        '你本次所做试题平均难度为 '+ data.avgDifficult +'，难度偏低，建议以后多做难度大一些的试题。'
                        :'你本次的做题平均难度为  '+ data.avgDifficult +'，平均难度不错，请继续保持。',
                    style:'content',
                },
                {
                    text:data.avgTimePerDay < data.allAvgTimePerDay?
                        '你本次每日做题平均为 '+ data.avgTimePerDay +' 分钟，小于平均用时。希望您以后增加做题时间。'
                        :'你本次的做题每日为 '+ data.avgTimePerDay +'分钟，用时不错，请继续保持。',
                    style:'content',
                },
            ]
        });
    }
    /**
     * 学年概况     */
    AnalysisReport.prototype.xnOverview = function (xnData) {
        this.docDefinition.content.push({
            text: xnData.xnName,
            style:'thirdTitle',
        });
        this.docDefinition.content.push({
            text: '总体学情分析',
            style:'thirdTitle',
        });
        this.docDefinition.content.push({
            text: '1.你本次做题的薄弱点如下。',
            style:'fourthTitle',
        });
        if(xnData['weak'].length == 0){
            this.docDefinition.content.push({
                text:'无',
                style:'content',
            });
        }else {
            this.docDefinition.content.push({
                ul:xnData['weak'].map(function (w,index) {
                    return {
                        text:'('+ (index+1) +')' + w,
                        style:'content',
                    }
                })
            });
        }
        this.docDefinition.content.push({
            text: '2.你本次做题的亮点如下。',
            style:'fourthTitle',
        });
        if(xnData['highlight'].length == 0){
            this.docDefinition.content.push({
                text:'无',
                style:'content',
            });
        }else {
            this.docDefinition.content.push({
                ul:xnData['highlight'].map(function (h,index) {
                    return {
                        text:'('+ (index+1) +')' + h,
                        style:'content',
                    }
                })
            });
        }
        this.docDefinition.content.push({
            text: '知识点学情分析',
            style:'thirdTitle',
        });
    }
    /**
     * 知识点分析
     * */
    AnalysisReport.prototype.zsdAnalysis = function (zsdData,index) {
        this.docDefinition.content.push({
            text: index +'. ' +zsdData['zsdName'],
            style:'fourthTitle',
        });
        this.chartAnalysis(zsdData.chartData,1,true);
        this.docDefinition.content.push({
            text: '(4) 本知识点建议：',
            style:'content',
        });
        this.docDefinition.content.push({
            ol:[
                {
                    text: zsdData.answerSize < zsdData.avgAnswerSize?
                         '你的本次做题数量偏低，建议以后多做些题。':'你本次的做题数量不错，请继续保持。',
                    style:'content',
                },
                {
                    text:  zsdData.correctRate < zsdData.avgCorrectRate?
                    '你的本次做题正确率偏低，建议以后做题更细心。':'你本次的做题正确率不错，请继续保持。',
                    style:'content',
                },
                {
                    text:  zsdData.difficult < zsdData.avgDifficult?
                           '你本次所做试题平均难度为 '+ zsdData.difficult +'，难度偏低，建议以后多做难度大一些的试题。'
                           :'你本次的做题平均难度为  '+ zsdData.difficult +'，平均难度不错，请继续保持。',
                    style:'content',
                },
                {
                    text:  zsdData.answerTime < zsdData.avgAnswerTime?
                           '你本次每日做题平均为 '+ zsdData.answerTime +' 分钟，小于平均用时。希望您以后增加做题时间。'
                          :'你本次的做题每日为 '+ zsdData.answerTime +'分钟，用时不错，请继续保持。',
                    style:'content',
                },
            ]
        });
    }


</script>
</body>
</html>