<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学年选择</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/light7.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div>
    <header class="bar bar-nav">
        <a href="../index/index.do" class="icon icon-left pull-left"></a>
        <h1 class="title"></h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul>
                <li th:each="xn : ${xns}">
                    <a href="#" class="item-link item-content xn_btn" th:id="${xn.id}">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title" th:text="${xn.name}"></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/light7.js"></script>
<script>
    $(function () {
        //设置头部标题
        $(".title").text(sessionStorage.getItem('kcTopName'));

        //绑定课程点击事件
        $('.xn_btn').click(function () {
            //学年ID
            var xnId =$(this).attr('id');

            sessionStorage.setItem('xnId',xnId);
            sessionStorage.setItem('xnTopName',$(this).find('.item-title').text());

            location.href = 'chooseZj.do?xnId=' + xnId;
        })
    });
</script>
</body>
</html>